.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 10%;
    margin: auto;
  }  

.link {
  color: rgba(0, 0, 0, 0.8);
}

.link:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.view:hover {
  text-decoration: none;
}

.link-add {
  color: white;
}

.link-add:hover {
  text-decoration: none;
  color: white;
}

.add-btn {
  text-align: center;
  margin-bottom: 10px;
}

.cards {
  margin-top: 10px;
}

.card {
    margin: 2% 2% !important;
}